
.heading-row {
  position: relative;
  width: 100%;
  min-height: 100px;
}

.title {
  padding: 15px 5px 0px 5px;
  font-size: 48px;
  text-align: center;
  color: black;
}

.subtitle {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: rgb(119, 119, 119);
}


.content {
  padding: 5px;
}
