<div class="temp">

  <div class="g-page">
    <div class="heading-row" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="gappx">
      <p class="title" fxLayout="row" fxLayoutAlign="center"> Image Classification </p>
      <p class="subtitle" fxLayout="row" fxLayoutAlign="center">
        Using A Pretrained ResNet Model From Keras And Converted To TensorflowJs
      </p>
    </div>

    <div class="content" fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-cell *ngFor="let image of images" [image]="image"></app-cell>
      </div>
    </div>
  </div>

</div>
